/*universal sytles*/
html, body {
    font-size: 16px;
    max-width: 1200px;
    margin: auto;
    background-color: #F7FDF6;
}


/*Header Section styles*/
header {
  display: flex;
  align-items: center;
  height: 4rem;
  max-width: 75rem;
  margin: 0 auto;
border-bottom: 1px solid #A3A3A3;
  background-color: #F7FDF6;
/*position: fixed;
z-index: 1;*/
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 1.5rem;
  height: 2rem;
  color: #A3A3A3;
  /*border: 1px solid black;*/
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.logo span {
  color: #231A1A;
  /*border: 1px solid black;*/
}
.logo img {
  width: 2rem;
  height: auto;
  /*border: 1px solid black;*/
}

.nav {
  padding-right: 1.5rem;
  /*border: 1px solid black;*/
  }

.nav span {
  display: inline-block;
  padding: .5rem;
}
.nav span a {
  color: #231A1A;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.mobile-nav {
  display: none;
}

/*header mobile code*/
@media only screen and (max-width: 480px) {
  header {
    display: block;
    max-width: 100%;
    /*justify-content: space-between;*/
    /*align-items: stretch;*/
  }
  .logo, .nav {
  display: none;
  }
  .mobile-nav {
    display: block;
    text-align: center;
    padding: 1rem 0;
  }

  .mobile-nav a {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
  }

}
/*main content section 1 code - desktop*/

.main-1 {
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  /*border: 1px solid black;*/
  background-color: #C0C0C0;
  justify-content: center;
  align-items: center;
}

.main-pic-1 {
  display: block;
  width: 65%;
  /*padding: 2rem 1.5rem;*/
}

.main-pic-1 img {
  max-width: 95%;
  height: auto;
  padding: 2rem 1.5rem;
}

.learn-here {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 2rem 1.5rem;

}

.learn-here h1 {
  font-size: 3rem;
  font-family: 'Gothic A1', sans-serif;
  color: #504746;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.learn-here h2 {
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1rem;
padding-left: 1rem;
}

.button {
  background-color: #504746;
  color: #FCF8F7;
  text-decoration: none;
  padding: .5rem;
  border: 1px solid #504746;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Gothic A1', sans-serif;
  width: 18rem;
  margin-left: 1rem;
}

.main-pic-1-nav, .learn-here-nav, .button-nav {
  display: none;
}
/*main content section 1 mobile code*/
@media only screen and (max-width: 480px) {
  .main-pic-1-nav {
    display: block;
    width: 100%;
  }
    .main-pic-1-nav img {
      max-width: 100%;
      height: auto;
    }
    .main-pic-1, .main-pic-1 img {
      display: none;
    }
    .main-1 {
      
    }
}

/*main content section 2 code-desktop*/
.main-2 {
  display: flex;
  /*border: 1px solid black;*/
  background-color: #F7FDF6;
  max-width: 75rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.col-1 {
  width: 65%;
  height: auto;
  /*padding-right: 1.5rem;*/
}

.main-pic-2 {
  display: block;
  width: 100%;
  /*padding: 2rem 1.5rem;*/
}
.col-1 img {
  max-width: 91%;
  height: auto;
  padding: 2rem 1.5rem;
}

.col-1-text {
  padding: 2rem 1.5rem;
}

.col-1-text h1 {
  padding-bottom: 1.5rem;
  font-size: 2.75rem;
  font-family: 'Gothic A1', sans-serif;
  color: #504746;
}

.col-1-text h2 {
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
}

.col-1-text h3 {
  font-family: 'Montserrat', sans-serif;
}

.col-2 {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
}

.event {
  display: flex;
  border: 1px solid #A3A3A3;
  background-color: #FCF8F7;
}

/* code for when hover over box background-color changes
  background-color: #C0C0C0;*/

.event:hover {
  background-color: #C0C0C0;
}

.event-img {
  /*border: 1px solid black;*/
  width: 10.5rem;
  padding: 1rem;
}

.event-img img {
  width: 10.5rem;
  height: auto;
  padding: 1rem;
}

.event-text {
  width: 19.5rem;
  padding: 2.5rem 1rem;
}

.event-text h1 {
  font-size: 1.75rem;
  font-family: 'Gothic A1', sans-serif;
  text-align: left;
  color: #504746;
  padding-bottom: .5rem;
}

.event-text h2 {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: .5rem;
  font-weight: 100;
}

.event-text a {
  text-decoration: none;
  color: #7EB8BA;
  font-size: 1.25rem;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 600;
}

/*main content section 2 mobile code*/
@media only screen and (max-width: 480px) {
}

/*main content section 3 code desktop*/

.featured-courses {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 5rem;
  justify-content: center;

}

.course {
  width: 15rem;
  height: auto;
  margin: 2rem;
  border: 1px solid #A3A3A3;
  background-color: #FCF8F7;
}

.course-text {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-text h2 {
  font-size: 1.5rem;
  font-family: 'Gothic A1', sans-serif;
  color: #504746;
}

.course-text h3 {
  padding: .75rem 0;
  font-size: 1rem;
  color: #BBB9C4;
}

.course-text h4 {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #BBB9C4;
  line-height: 1.4rem;
}
.course img {
  width: 15rem;
  height: auto;
}
.main-3 {
  /*border: 1px solid black;
  background-color: #F7FDF6;*/
  max-width: 75rem;
  margin: 0 auto;
  background-color: #C0C0C0;
}

.main-3-heading {
  text-align: center;
}

.main-3-heading h1{
  font-size: 2.75rem;
  font-family: 'Gothic A1', sans-serif;
  color: #504746;
  padding-top: 2rem;
}

/*main content section 3 mobile code*/
@media only screen and (max-width: 480px) {
}

/*main content section 4 desktop code*/

.main-4 {
  /*border: 1px solid black;*/
  background-color: #F7FDF6;
  max-width: 75rem;
  margin: 0 auto;
}

.main-4-heading {
  text-align: center;
}

.main-4-heading h1{
  font-size: 2.75rem;
  font-family: 'Gothic A1', sans-serif;
  color: #504746;
  padding-top: 2rem;
}

.thesis-features {
  display: flex;
    /*border: 1px solid black;*/
    padding: 2rem 0;
}

.thesis-features-col1 {
  width: 65%;
  /*border: 1px solid black;*/
  padding: 0 1.5rem;
}

.thesis-features-col1 h2 {
  padding: 1.5rem 1.5rem 0;
  font-size: 2.25rem;
  font-family: 'Gothic A1', sans-serif;
  color: #504746;
}

.thesis-features-col1 h3 {
  padding: .5rem 1.5rem 1.5rem;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
}

.thesis-features-col2 {
  width: 35%;
/*border: 1px solid black;*/
}

.thesis-feature {
  display: flex;
  border: 1px solid #A3A3A3;
  }

.thesis-feature-image {
  padding: 1rem;
  width: 10.5rem;
  height: auto;
}

.thesis-feature-image img {
  padding: 1rem;
  height: auto;
  width: 10.5rem;
}

.thesis-feature-text {
  width: 19.5rem;
  padding: 2.5rem 1rem;
}

.thesis-feature-text h2 {
  font-size: 1.75rem;
  font-family: 'Gothic A1', sans-serif;
  text-align: left;
  color: #504746;
  padding-bottom: .5rem;
}

.thesis-feature-text h3 {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: .5rem;
  font-weight: 100;
}

.video  {
  display: block;
  border: 1px solid #A3A3A3;
}

video {
  max-width: 100%;
  height: auto;
}

/*main content section 4 mobile code*/
@media only screen and (max-width: 480px) {
}

/*footer styles - desktop code*/
.footer {
  display: flex;
  /*align-items: center;*/
  height: 4rem;
  max-width: 75rem;
  margin: 0 auto;
  border-top: 1px solid #A3A3A3;
  background-color: #F7FDF6;
  justify-content: space-between;

}

.copyright {
  color: #A3A3A3;
  padding-left: 1.5rem;
  padding-top: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.legal {
  padding-top: 1rem;
}

.legal a {
  color: #231A1A;
  text-decoration: none;
  padding-right: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

/*footer styles - mobile code*/
@media only screen and (max-width: 480px) {
}
